/*ESTILOS GENERALES*/

body{
    font-family:'Times New Roman', Times, serif; 
}

/*HEADER*/

header{
    background-color:#E6E6E6;
    text-align: center;  
}

h1, h2{
    background-color: #C4C4C4;
    text-transform: uppercase;
    color:#005677;
    letter-spacing: 8px;
    font-weight: bold;
}

/*MAIN*/

section{
    margin: 30px auto;
    width: 70%;
}

.datospersonales{
    font-style: italic;
}

span{
    font-weight: bold;
}

/*FOOTER*/

footer{
    text-align: center ;
    background-color: rgb(0, 86, 119);
}

h3{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
}


